@import url(header/header.css);
@import url(nav/nav.css);
@import url(footer/footer.css);

body{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}

.span-accent{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #FF976B;
}

.info__text{
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#6F6F6F;
}


