@import url(/CSS/header/header.css);
@import url(/CSS/nav/nav.css);
@import url(/CSS/footer/footer.css);
@import url(/CSS/fonts/fonts.css);

body{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}



