body{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}

.header{
    background-color: #FFFFFF;
    background-image:  url('background_header.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    position: relative;
}
.header__title{
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: -1px;
    position: absolute;
    top: 183px;
    left: 80px;
    max-width: 709px;
    margin: 0;
}

.span-accent{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #FF976B;
}
.header__description{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    top: 355px;
    left: 80px;
    max-width: 683px;
}
.header__hours{
    position: absolute;
    bottom: 40px;
    left: 80px;    
}
.header__address{
    position: absolute;
    bottom: 40px;
    right: 80px;
}
.info__text{
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#6F6F6F;
}
.header__image{
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 568px;
}
.header__logo{
    position: absolute; 
    top: 30px; 
    left: 30px; 
    width: 105px;
    height: 39px;
}
.nav{
    position: absolute;
    top: 30px;
    right: 26px;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.nav__links{
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav__item{
    text-decoration: none;
    color: inherit;
}
.nav__item:hover {
    color:  #df4300;
}
.footer{
    
}