
.span-accent{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #FF976B;
}

.info__text{
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#6F6F6F;
}

.form__title{
font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
}

.form__label{
font-family: "Inter";
font-style: normal;
font-weight: normal;
font-size: 20px;
}

.form__input{
font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.form__submit{
font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
}

.footer__social_title {
font-family: “Inter”;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
}

.footer__copyright {
  font-family: “Inter”;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}