@import url(./header.css);
@import url(./nav.css);
@import url(./footer.css);
@import url(./fonts.css);
@import url(./reservation.css);

body{
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
}



